[submodule "TinyGPSPlusExtended"]
	path = TinyGPSPlusExtended
	url = https://github.com/mitikkak/TinyGPSPlusExtended.git
[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit-PCD8544-Nokia-5110-LCD-library"]
	path = Adafruit-PCD8544-Nokia-5110-LCD-library
	url = https://github.com/bbx10/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "Adafruit-PCD8544-ShiftOut"]
	path = Adafruit-PCD8544-ShiftOut
	url = https://github.com/mitikkak/Adafruit-PCD8544-ShiftOut.git
